<section class="pagination">

  <div class="pagination__wrap container">

    <button class="pagination__previous" type="button" name="button">
      Предыдущая страница
    </button>

    <ul class="pagination__list">

      <li class="pagination__list-item">
        <button class="pagination__list-page pagination__list-page--active" type="button" name="button">
          1
        </button>
      </li>

      <li class="pagination__list-item">
        <button class="pagination__list-page" type="button" name="button">
          2
        </button>
      </li>

      <li class="pagination__list-item">
        <button class="pagination__list-page" type="button" name="button">
          3
        </button>
      </li>

      <li class="pagination__list-item">
        <button class="pagination__list-page" type="button" name="button">
          4
        </button>
      </li>

      <li class="pagination__list-item">
        <button class="pagination__list-page" type="button" name="button">
          5
        </button>
      </li>

      <li class="pagination__list-item">
        <button class="pagination__list-page" type="button" name="button">
          6
        </button>
      </li>

      <li class="pagination__list-item">
        <button class="pagination__list-page" type="button" name="button">
          7
        </button>
      </li>

      <li class="pagination__list-item">
        <button class="pagination__list-page" type="button" name="button">
          8
        </button>
      </li>

    </ul>

    <button class="pagination__next" type="button" name="button">
      Следующая страница
    </button>

  </div>

</section>
