// Typography
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy/gilroy_medium.woff2') format('woff2'),
        url('/fonts/gilroy/gilroy_medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy/gilroy_bold.woff2') format('woff2'),
        url('/fonts/gilroy/gilroy_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

$font-primary: "Gilroy", "Arial", sans-serif;

// Color scheme
$color_black: #000000;
$color_white: #ffffff;

$color_optional-1: #828282;
$color_optional-2: #E5E5E5;
$color_optional-3: #F6F6F6;
$color_optional-4: #EB3617;
$color_optional-0: rgba(246, 246, 246, 0.99);

// Colors of the tags
$color_tag-1: #2176FF;
$color_tag-2: #33A1FD;
$color_tag-3: #FDCA40;
$color_tag-4: #57E2E5;
$color_tag-5: #F79824;
$color_tag-6: #E08DAC;
$color_tag-7: #6A7FDB;
$color_tag-8: #45CB85;

$color_shadow: rgba(0,0,0,0.15);
