<header class="header">

  <div class="header__wrap container">

    <ul class="header__nav">

      <li class="header__item">
        <a class="header__link header__link--dark" href="#">
          Главная
        </a>
      </li>

      <li class="header__item">
        <a class="header__link" href="#">
          Блог
        </a>
      </li>

      <li class="header__item">
        <a class="header__link" href="#">
          Вход
        </a>
      </li>

      <li class="header__item">
        <a class="header__link" href="#">
          Регистрация
        </a>
      </li>

    </ul>

    <div class="header__about">

      <h1 class="header__title">
        Максим<br>Вершилкин
      </h1>

      <div class="header__bio">

        <p class="header__text">
          Будущий багработчик, 31 год, Тольятти
        </p>

        <button class="header__button" type="button" name="button">
          Open mobile menu
        </button>

      </div>

    </div>

  </div>

  <div class="header__mobile">

    <button class="header__mobile-button" type="button" name="button">
      Close mobile menu
    </button>

    <nav class="header__mobile-nav">

      <ul class="header__mobile-list">

        <li class="header__mobile-item">
          <a class="header__mobile-link header__mobile-link--active" href="/">
            Home
          </a>
        </li>

        <li class="header__mobile-item">
          <a class="header__mobile-link" href="/.blog.html">
            My blog
          </a>
        </li>

        <li class="header__mobile-item">
          <a class="header__mobile-link" href="/.">
            Sign in
          </a>
        </li>

        <li class="header__mobile-item">
          <a class="header__mobile-link" href="/">
            Register
          </a>
        </li>

      </ul>

    </nav>

  </div>

</header>
