<footer class="footer">

  <div class="footer__wrap container">

    <h2 class="footer__title title">Обратная связь</h2>

    <p class="footer__question">
      Хотите пообщаться?<br>Я открыт для сотрудничества!
    </p>

    <button class="footer__button button" type="button" name="message">Написать мне</button>

    <ul class="footer__social">

      <li class="footer__social-item">
        <a class="footer__social-link button-optional" href="/" link="nofollow" target="_blank">
          Инстаграм
        </a>
      </li>

      <li class="footer__social-item">
        <a class="footer__social-link button-optional" href="/" link="nofollow" target="_blank">
          Вк
        </a>
      </li>

      <li class="footer__social-item">
        <a class="footer__social-link button-optional" href="/" link="nofollow" target="_blank">
          Телега
        </a>
      </li>

      <li class="footer__social-item">
        <a class="footer__social-link button-optional" href="/" link="nofollow" target="_blank">
          Почта
        </a>
      </li>

      <li class="footer__social-item">
        <a class="footer__social-link button-optional" href="/" link="nofollow" target="_blank">
          GitHub
        </a>
      </li>

      <li class="footer__social-item">
        <a class="footer__social-link button-optional" href="/" link="nofollow" target="_blank">
          Телефон
        </a>
      </li>

    </ul>

    <p class="footer__design">
      Дизайн от
      <a class="footer__design-link" href="https://directline.digital/" link="nofollow" target="_blank">
        DL Academy
      </a>.
    </p>

    <p class="footer__dev">
      Разработка от меня.
    </p>

  </div>

</footer>
